.index{
    margin: 0;
}

.index h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    color: white;
  }
  

.skills-img img{
    margin: auto;
    margin-top: 22vh;
    height: auto;
    object-fit: cover;
}

.skills-img h1{
    color: #7abcff;
}
.skills-img {

        transform: translateZ(0);
        transition-duration: 1s;
        transition-property: transform;
    }
    
.skills-img:hover,
.skills-img:focus,
.skills-img:active {
    transform: scale(1.1); 
}

.profile-img{
    margin: auto;
  } 

.profile-img img {
    border-radius: 200px;
    width: 200px;
    margin-top: 10vh;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #7abcff;
}
	
.profile-img img:hover {
    box-shadow: 0px 0px 30px #7abcff;
}



.index h2 {
    font-weight: 800;
    font-size: 1rem;
    color: white;
}
  
.mycard {
    background-color: #07192f;
    width: 100%;
    border-radius: 50px;
    padding: 30px;
    border-color: white;
    box-shadow: 0px 0px 15px #7abcff;
}

.mycard:hover {
  box-shadow: 0px 0px 40px #7abcff;
}

.mycard p{
   font-weight: 800;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto;
}

@media (max-width: 600px) {
       
    .mycard  {
       width: 90vw;
       padding: 10px;
       margin-top: 0px;
    }
    .profile-img img{
        margin: 3vh;
    }

    .index {
        display: flex;
        justify-content: center;
    }

    .skills-img img{
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 0;
    }
    
    .skills-img h1{
        font-size: 1em;
        margin-top: 5px;
    }

}
@media (min-width: 600px) and (max-width: 768px) {
    .skills-img img{
        margin: auto;
        margin-top: 30px;
        height: auto;
        object-fit: cover;
    }
    .skills-img img{
        margin: auto;
        margin-top: 5vh;
        height: auto;
        object-fit: cover;
    }
    .profile-img img {
       
        margin-top: 0vh;

    }
}

@media (min-width: 600px) {
    .index {
        display: flex;
        justify-content: space-between;
    }

}

@media (max-height: 1200px) and (min-width: 768px) {
    .skills-img img{
        margin-top: 20vh;
    }
    .profile-img img {
        margin-top: 0vh;
    }
}


